body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
   /* Add a slight margin to the right */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
}

.notepad-textarea {
  width: calc(100% - 20px); /* Adjust the width to accommodate the margin */
  height: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.save-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease; /* Add a smooth transition */
}

.save-button:hover {
  background-color: white; /* Change color on hover */
  color: black; /* Change text color on hover */
  border: 1px solid #282c34;
}
